

body{
    margin: 0px;
}

p1{
    color: red;
}

p2{
    color: green;
}

.tablestyle{
    border: blue;
}

textarea{
    resize: none;
}

header{
    float: start;
    width: 100%;
    height: 70px;

}
main{
    float: top;
    width: 100%;

}

footer{
    float: bottom;
    width: 100%;
    height: 100px;

}

input:focus {
    background-color: lightblue;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;

    cursor: pointer;
}
input{
    border: 1px solid black;
    margin-bottom:  5px;
}
textarea{
    border: 1px solid black;
    margin-bottom:  5px;
}


label.test {
    float: left;
    width: 20%;
    text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.form-field-no-caption {
    margin-left: 20%;
    padding-left: 0.5em;
}

div.topbar{
    float: right;
}

